@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.body {
background: rgb(0,0,0);
background: linear-gradient(315deg, rgba(0,0,0,1) 35%, rgba(69,2,217,1) 100%);
background-repeat: no-repeat;
font-family: 'Poppins', sans-serif;
height: 100vh;
}

.schoolCard {
  background-color: #282E3C;
  max-height: 75px;
  max-width: 900px;
  border: none;
  border-radius: 20px;
  padding: 10px 10px;
  color: white;
  transition: background-color 0.3s;
}

.schoolCard:hover {
  background-color: #161921;
  
}

.schoolBadge {
  background: linear-gradient(127.55deg, #0224D9 -44.16%, #04002B 74.85%);
  border-radius: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-height: 54px;
  max-width: 54px;
  min-height: 50px;
  min-width: 50px;

}

.schoolInitial {
  background: none;
  border: none;
  font-weight: 600;
  font-size: 32px;
  color: white;
}

.searchbar {
  background: none;
  padding-left: 10px;
  border: none;
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
  border-radius: 10px;
  color: white;
  width: 100%;
}

.searchbar:focus {
  outline: none;
  background-color: hsla(258, 97%, 43%, 0.31);
  
}

.schoolList {
  mask-image: linear-gradient(to top, transparent 5%, black 20%);
  padding-bottom: 25%;
  overflow-y: auto;
  z-index: 1;
  max-height: 75vh;
}

.search {
position: sticky;
top: 0;
z-index: 2;
max-width: 900px;
margin: auto;
}